/* ------- Content --------*/

h1 {
  @include fontTitoloG;
  color: #d9d9d9;
}
h2 {
  @include fontTitoloG(0.9);
}
h3 {
  @include fontTitoloG(0.8);
}
h4 {
  @include fontTitoloG(0.75);
}
h5 {
  @include fontTitoloG(0.7);
}
strong {
  font-weight: 900;
  color:darken($font-base-color, 20%);
}
p {
  margin-top: $font-base-size;
}

.titoloPage {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  text-justify: inter-word;
  @include fontNormaleG;
  line-height: $font-base-size + 0.4em;

  padding-left: 10px;
  padding-right: 10px;
  
  h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: $font-base-size;
  }

  figure {
    text-align: center;
  }

  img {
    margin-top: 20px;
    max-width: 100%;
  }

  .wp-block-file {
    margin-bottom: 20px;
  }

}

figure figcaption {
  background-color: rgba(77, 77, 77,0.3) !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  p {
    width: 98%;
  }
  figure figcaption {
    width: 98% !important;
  }

  h1 {
    @include fontTitoloG(0.7);
    color: #d9d9d9;
  }
  h2 {
    @include fontTitoloG(0.6);
  }
  h3 {
    @include fontTitoloG(0.6);
  }
  h4 {
    @include fontTitoloG(0.55);
  }
  h5 {
    @include fontTitoloG(0.5);
  }
}

/* ------- Video Container--------*/

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-top: 20px;

    iframe, object, embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;    
    }
}

@media screen and (max-width: 480px) {
  .video-container {
    iframe, object, embed {
      width: 98%;
    }    
  }

}


/* ------- Slide Show--------*/

.easingslider {
  margin: auto;
}

.easingslider-slide {
  background-color: black !important;
}


/* ------- Table--------*/

.wp-block-table {
  border-collapse:collapse;
}

.wp-block-table td{
  padding: 10px;
  border: 1px solid #cccccc;
}

.table100{
  position: relative;
  width: 100% !important;
}